<div class="collection-products-section">
  {% assign collection_handle = section.settings.collection %}
  {% assign collection = collections[collection_handle] %}
  
  {% if collection.products.size > 0 %}
    <h1>marziyeh</h1>
    <h2>{{collection.all_products_count}}</h2>
    <div class="products-grid">
      {% for product in collection.products limit: section.settings.products_per_row %}
        <div class="product-card" id="{{ product.title | handle }}" data-product-id="{{ product.id }}">
          <a href="{{ product.url }}">
            <img src="{{ product.featured_image | img_url: 'medium' }}" alt="{{ product.title }}" >
            <h3>{{ product.title }}</h3>
            <p class="product-price">{{ product.price | money }}</p>
          </a>
          <button class="add-to-cart-btn" data-product-id="{{ product.id }}" onclick="myFunction('{{product.title | handle}}')" >Add to Cart</button>
          <h2>soroush</h2>
        </div>
      {% endfor %}
    </div>
    <button class="load-more" onclick="loadMoreBtn('{{product.title | handle}}')">Load More</button>
  {% else %}
    <p>No products found in the selected collection.</p>
  {% endif %}
</div>

{% schema %}
{
  "name": "Collection with AJAX",
  "settings": [
    {
      "type": "collection",
      "id": "collection",
      "label": "Choose a collection"
    },
    {
      "type": "range",
      "id": "products_per_row",
      "label": "Products per row",
      "default": 4,
      "min": 2,
      "max": 6
    }
  ],
  "presets": [
    {
      "name": "Collection with AJAX",
      "category": "Products"
    }
  ]
}
{% endschema %}

<script>
    function myFunction(productTitle) {

   const productId = fetch(window.Shopify.routes.root + 'products/'+productTitle+'.js')
  .then(response => response.json()).then(response =>{
    let formData = {
    'items': [{
    'id': response.variants[0].id,
    'quantity': 1
     }]
    };
    fetch(window.Shopify.routes.root + 'cart/add.json', {
    method: 'POST',
    headers: {
    'Content-Type': 'application/json'
    },
    body: JSON.stringify(formData)
    })
    .then(response => {
    return response.json();
    })
    .catch((error) => {
    console.error('Error:', error);
    });
  });
     
  }

  <script>

  function loadMoreBtn(productTitle) {
    fetch(window.Shopify.routes.root + 'products/'+productTitle+'.js').then(response => response.json()).then(product => console.log(product.title));
  }
</script>


    


    
</script>
