{% layout none %}
<!-- Products loaded via AJAX -->
{% paginate collection.products by 4 %}
  <!-- You can adjust the limit here if needed -->
  {% for product in collection.products %}
    <div class="product-card" data-product-id="{{ product.id }}">
      <a href="{{ product.url }}">
        <img
          src="{{ product.featured_image}}"
          alt="{{ product.title }}"
          width=""
          height="">
        <h3>{{ product.title }}</h3>
        <p class="product-price">{{ product.price | money }}</p>
      </a>
      {% render 'buy-buttons'
        , block: block
        , product: product
        , product_form_id: product_form_id
        , section_id: section.id
        , show_pickup_availability: true %}

    </div>
  {% endfor %}
{% endpaginate %}